<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Online Shoe cart About</title>
<form action="#" th:action="@{/about}" method="get">

</head>
<Style>

#footer-main {
    background: #000;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
    font-family: 'Lato', sans-serif;
}

</Style>
<body>
<div class="owl-item active" style="width: 3000px;"><a href="/productList"><img src="https://www.fashos.com/pub/media/wysiwyg/home/Fashos1_WEB.png" alt="" style="width: 60%; height: 500px; margin: 0px;"></a></div>
</div>
    <h2>About Us</h2>
    <h3>Who we are?</h3>
    <p>A group of people who got together to create footwear, but got high on style somewhere in between, started watching fashion networks and created something that can be recognized only by someone out of this planet. That's how we started and that's how we are still going on.<br> We are India's one of its kind online personalized store with a group of stylists to recommend you the most stylish footwear as per your needs. We bring you a huge collection, created around many themes and styles to bring you cult classic fashion.</p>
<h3>What we Do?</h3>
<p>Well, to start with - Everything to make you feel Special! A stylist to discuss your fashion needs, a delivery guarantee, and no question asked return/exchange policy and a promise to ensure quality in all our products. We believe in outrageous fashion trends and offer you the same, but with a hint of class. Our famous fashion advice for all is: <strong>Don't just be Stylish, Be Smart, buy SMART on</strong> <a class="content_link" href="/">click here!  HOME</a></p>

<footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            

            <h6 class="mt-3">ONLINE SHOP</h6>
            <p>
              
              No. 82, BANGLORE NEAR BANK OF BARODA<br>
              +95-1-9351000
            </p>
        </div>
  </footer>
</body>
</html>