<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title> Order Succesfull</title>

      <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
      <th:block th:include="/_header"></th:block>
      <style type="text/css">
      h3{
      text-align: center;
      color: 1px solid green;
      }
      </style>
   </head>
   <body>
      
      <th:block th:include="/_menu"></th:block>
       
     
      <div class="container">
         <h3>Thank you for Ordering</h3>
         
      </div>
       <div>
<img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/31fe3938221437.5968c5a847d93.gif" alt="365.Online - ecommerce on Behance" jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb" data-noaft="1" style="width: 100%; height: 600px; margin: 0px;">      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>